<% content_for :title do %>
Developers
<% end %>

<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <div id="nav-bar">
      <%= link_to "Log out", logout_path, class: "btn btn-default" %> 
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <table class="table">
      <tr>
        <th>Email</th>
        <th></th>
      </tr>
      <% @developers.each do |developer| %>
      <tr>
        <td><%= developer.email %></td>
        <td>
          <%= link_to "Show", developer_path(developer), class: "btn btn-primary btn-command" %><%= link_to "Delete", developer_path(developer), class: "btn btn-warning btn-command", method: :delete, data: { confirm: "Are you sure?"} %>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>