<div class="row">
	<div id="loginContainer" class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
		<h2 class="text-center">Logga in</h2>
		<form data-ng-submit="login.login()">
			<div class="form-group">
				<label for="email">Epostadress</label>
				<input data-ng-model="login.email" id="email" class="form-control" type="email">
			</div>
			<div class="form-group">
				<label for="password">Lösenord</label>
				<input data-ng-model="login.password" id="password" class="form-control" type="password">
			</div>
			<div class="row">
				<div class="col-xs-6">
					<a id="back" data-ng-href="." class="btn btn-default">Tillbaka</a>
				</div>
				<div class="text-right col-xs-6">
					<button type="submit" class="btn btn-primary">Logga in</button>
				</div>
			</div>
		</form>
	</div>
</div>