// Place all the styles related to the applications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding: 20px;
  background: url('halftone.png');
}

#nav-bar {
  margin: 20px 0 40px;
}

.btn-command {
  margin: 0 5px;
  float: right;
}